// Susy

// $susy: (
//     columns:                            12,
//     container:                          1700px,
//     global-box-sizing:                  border-box
// );

// Colors

$gray:                                  #ababab;
$bold:                                  darken($gray, 20%);
$light:                                 lighten($gray, 20%);
$bg:                                    lighten($gray, 30%);
$link:                                  #BF283E;
$red:                                   #BF283E;

// Typography

$base-font-size:                        18px;
$base-line-height:                      28px;

// 600 + 400
$heading-font: kepler-std-semicondensed-dis, serif;
// 600 + 400
$body-font: proxima-nova, sans-serif;

// Units

$spacing-s:                             .25 * $base-line-height;
$spacing-m:                             .5 * $base-line-height;
$spacing-l:                             $base-line-height;

// Mixins

@mixin container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}