body.item.resource.show {
  h2 {
    color: $red;
    font-size: 52px;
    line-height: 1.1;
    max-width: 50rem;
  }
  h3 {
    font-family: $body-font;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }
  .property {
    border-top: 1px solid #eee;
    font-size: 17px;
    margin-bottom: 1rem;
    max-width: 50rem;
    a {
      color: $red;
    }
    h4 {
      color: $red;
      font-family: $body-font;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 0;
      text-transform: uppercase;
    } 
  }
}